 main.light {
  background-image: url("../img/white.gif");
  color: black;
  
}

main.dark {
   background-image: url("../img/dark.gif");
  color: white;
}

main {
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  padding: 0;
}

