 main.light {
  background-image: url("../img/white.gif");
  color: black;
  
}

main.dark {
   background-image: url("../img/dark.gif");
  color: white;
}

main {
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  padding: 0;
}

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
} 

main.dark .form-container{
  background-color: white;
}

main.dark .form-label{
  color: black;
}

main.light .form-container{
  background-color: #000000;
}

main.light .form-label{
  color: white
}

.form-group{
  padding-top: 30px;
  margin-bottom: 15px;
}

/* Contenedor general del formulario */
.form-container {
 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Grupos de cada input */
.form-group {
  margin-bottom: 1.5rem;
}

/* Etiquetas */
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  
}

/* Inputs y textarea */
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/* Botón */
.form-actions {
  text-align: right;
}

main.light .form-button {
  background-color: #ffffff;
  color: #000000;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

main.dark .form-button {
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

main.dark .form-input {
  background-color: white;
  color: black;
}
