/* Fondo global y texto */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
}

main.light {
  background-image: url("../img/white.gif");
  color: black;
}

main.dark {
  background-image: url("../img/dark.gif");
  color: white;
}

main {
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  padding: 0;
}

main.light .card {
  background-color: black;
  color: white;
}

main.dark .card {
  background-color: rgba(255, 255, 255, 0.192);
  color: rgb(94, 94, 94);
}






.card {
  width: 280px;
  background-color: inherit; /* usa el color del tema */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(8px);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen de portada */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.contenedorCard{
  display: flex;
  justify-content: center;
}