
.contenedorCard{
    display: flex;
    justify-content: center;
   padding-top: 3%;
}

h2{
    margin: 10px;
}

h3{
    margin: 10px;
    text-align: center;
}

h4{
    margin: 10px;
    
}

  

  .card:hover {
    transform: scale(1.01);
    transition: 0.1s ease-in-out;
      background-color: #00000088;
  }
  
  


  .cardCliente img {
    width: 100%; /* Make the image take the full width of the card */
    height: auto; /* Maintain aspect ratio */
  }
  
.cardCliente:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  .card img {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 8px;
  
  }
  
  .card-description.dark {
    
    line-height: 1.5;
  }


  .card-description.light {
   
    line-height: 1.5;
  }
  
  .sobreMi{
    
  }

  .btnProyectos{
    width: 150px;
    height: 50px;
     background-color: #00000059;
    border-radius: 5px;
    color: white;
    
    
  }

  .btnProyectos:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    background-color: #0000008c;
  }

  .contenedorBtnProyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
  }

.card {
  padding-top: 2%;
   width: 40%;
   margin: 10px;
    border-radius: 5px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    overflow: hidden;
    background-color: #00000059;
    
    text-align: center;
    display: flex;
    
  }

  main.light {
  background-image: url("../img/white.gif");
  color: black;
  
}

main.dark {
   background-image: url("../img/dark.gif");
  color: white;
}

main {
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  padding: 0;
}